!!!
html
  head
    title= title
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='http://192.168.1.129:8080/socket.io/socket.io.js')
    script(src='http://192.168.1.129:3000/javascripts/s.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
